{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                {{ article.subtitle }}
            </h3>

            <article class="blog-post">
                <h2 class="pt-2 pb-4 display-5 link-body-emphasis mb-1">{{ article.title }}</h2>
                
                <img src="{{ article.image.url }}" width="1049" height="590" alt="">
                
                <p>{{ article.content }}</p>
                <hr>
                
                <p class="blog-post-meta">Posted by {{ article.author }}</p>
                <p class="blog-post-meta">Tags: 
                    {% for tag in article.tags.all %}
                        {{ tag.title }} -
                    {% endfor %}
                </p>
            <article>
        </div>
    </div>
</main>
{% endblock %}