{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

<!-- Faça uma home page que contenha a imagem do site no meio do block content e uma mensagem abaixo dizendo: "Welcome to AutoBlog! Sign in ou Register your account" -->
{% block content %}
  <div class="centered-div">
    {% if not user.is_authenticated %}
      <img src="{% static 'velocimetro_branco.png' %}" alt="AutoBlog Logo">
      <h1>Welcome to AutoBlog!</h1>
      <p><strong><a href="{% url 'login' %}">Sign in</a></strong> or <strong><a href="{% url 'register' %}">Register</a></strong> your account</p>
    {% else %}
      <h1>Hello, {{user.email}}!</h1>
      <p>You should see our <strong>Articles</strong></p>
    {% endif %}
  </div>
{% endblock %}