{% load static %}<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <title>
            AutoBlog - {% block title %} {% endblock %}
        </title>
    </head>
    
<body class="d-flex flex-column min-vh-100">
    <div class="container">
        <header class="border-bottom lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="link-secondary" href="#">Subscribe</a>
                </div>
                <div class="col-4 text-center">
                    <img src="{% static 'velocimetro_branco.png' %}" alt="">
                    <a class="blog-header-logo text-body-emphasis text-decoration-none" href="{% url 'home' %}">AutoBlog</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="link-secondary" href="#" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                            viewBox="0 0 24 24">
                            <title>Search</title>
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <path d="M21 21l-5.2-5.2"></path>
                        </svg>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}">Sign in</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'register' %}">Register</a>
                    </a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-3 border-bottom">
            <nav class="nav nav-underline justify-content-flex-start">
                <a class="nav-item nav-link link-body-emphasis" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link link-body-emphasis" href="{% url 'list_articles' %}">Articles</a>
            </nav>
        </div>
    </div>

    {% block content %} {% endblock %}

    <footer class="py-5 text-center text-body-secondary bg-body-tertiary mt-auto">
        <p>
            Developed by <a href="https://github.com/ViniCrK" target="_blank">@ViniCrK</a>
        </p>
        <p class="mb-0">
            <a href="https://github.com/ViniCrK/blog-project" target="_blank">Project repository</a>
            <img src="{% static 'github-logo.png' %}" alt="GitHub Logo">
        </p>
    </footer>
</body>

</html>